@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

.hero-container {
  width: 100%;
  height: 100vh;
  background: url(../image/hero/hero12.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.hero-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  position: relative;
  width: 100%;
  height: 100px;
  padding: 0 10%;
  color: white;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 5px;
  top: 30%;
  /* background-color: rgba(0, 0, 0, 0.8); */
  backdrop-filter: blur(10px);
}

.contact-container {
  height: 1250px;
  width: 100%;
  padding: 0 10%;
  margin: 4px 0;
  background-color: #FEFDED;
  border:2px solid gray;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 100px;
}

.contact-container h1{
  letter-spacing: 4px;
  font-size: 35px;
  font-weight: 400;
}
.contact-wrapper{
  display: flex;
  column-gap: 350px;
  
}
.contact-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  height: 200px;
  width: 200px;
  margin-top: 130px;

}

.contact-left img{
  border-radius: 50%;
}

.contact-left .addres{
  display: flex;
  text-align: left;
  flex-direction: column;
}
.contact-left .number{
  display: flex;
  flex-direction: column;
  text-align: left;
}



.container {
  width: 370px;
  height: 430px;
  padding: 20px;
  display: flex;
  align-items: right;
  justify-content: center;
  position: relative;
  border-radius: 10px;
  border: 1px solid #396afc;
  background-color: #9b4e72;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.contact-bottom{
  display: flex;
  gap: 100px;
}

.container form .descr {
  font-size: 20px;
  font-weight: 500;
  color: #e8e8e8;
  margin-bottom: 25px;
  margin-top: 25px;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
}

.input,
textarea {
  margin: 1em 0 1em 0;
  width: 300px;
  position: relative;
}

.input input,
textarea {
  font-size: 100%;
  padding: 0.7em;
  outline: none;
  color: #e8e8e8;
  border: none;
  border-bottom: 2px solid #e8e8e8;
  background: transparent;
  border-radius: none;
  width: 100%;
  resize: none;
}

.input label {
  font-size: 100%;
  position: absolute;
  left: 0;
  color: #e8e8e8;
  padding: 0.7em;
  margin-left: 0.1em;
  pointer-events: none;
  transition: all 0.5s ease;
  text-transform: uppercase;
}

.input :is(input:focus, input:valid) ~ label {
  transform: translateY(-50%) scale(0.9);
  margin: 0em;
  padding: 0.4em;
  background: transparent;
}

.input textarea:focus ~ label,
.input textarea:valid ~ label {
  transform: translateY(-50%) scale(0.9);
  margin: 0em;
  padding: 0.4em;
  background: transparent;
}

.inputGroup :is(input:focus, input:valid) {
  border-color: rgb(37, 37, 211);
}

.form button {
  color: #e8e8e8;
  font-size: 15px;
  align-self: flex-start;
  padding: 0.6em;
  border: none;
  cursor: pointer;
  /* margin-bottom: 50px; */
  background: transparent;
  transition: all 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
}

.form button:before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e8e8e8;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.form button:hover:before {
  opacity: 0.2;
}

.form button:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}


.card {
  position: relative;
  width: 270px;
  height: 120px;
  background-color: #f1f1f1;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  perspective: 1000px;
  box-shadow: 0 0 0 5px #ffffff80;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card i {
  width: 48px;
  font-size: 30px;
  fill: #333;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
  
}

.card__content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover .card__content {
  transform: rotateX(0deg);
}

.card__title {
  margin: 0;
  font-size: 24px;
  color: #333;
  font-weight: 700;
}

.card:hover svg {
  scale: 0;
}

.card__description {
  margin: 10px 0 0;
  font-size: 18px;
  color: #3b3939;
  line-height: 1.4;
}


.coin {
  font-size: 200px;
  width: 0.1em;
  height: 1em;
  background: linear-gradient(#faa504, #141001);
  margin:0 auto  0 auto;

  /* position: absolute; */
  /* top: 275%; */
  animation: rotate_4001510 6s infinite linear;
  transform-style: preserve-3d;
}

.coin .side, .coin:before, .coin:after {
  content: "";
  position: absolute;
  width: 1em;
  height: 1em;
  overflow: hidden;
  border-radius: 50%;
  right: -0.4em;
  text-align: center;
  line-height: 1;
  transform: rotateY(-90deg);
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.coin .tails, .coin:after {
  left: -0.4em;
  transform: rotateY(90deg);
}

.coin:before, .coin:after {
  background: linear-gradient(#faa504, #141001);
  backface-visibility: hidden;
  transform: rotateY(90deg);
}

.coin:after {
  transform: rotateY(-90deg);
}

@keyframes rotate_4001510 {
  100% {
    transform: rotateY(360deg);
  }
}

.svg_back {
  transform: scaleX(-1);
}
